<md-dialog ng-class="fullScreenStyleForDialog" ng-cloak>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <img src="/aqub/images/SPARQL_ICON.png" alt="SPARQL_ICON" height="36" style="padding-right:10px;">
            <h2 class="md-flex">Current SPARQL Query</h2>
            <span flex></span>
            <md-button ng-show="fullScreenStyleForDialog != 'full-screen-dialog'" 
                       class="md-icon-button" 
                       ng-click="makeSparqlObservationInFullScreen()">
                <md-icon class="md-secondary" 
                         aria-label="Close Related Entity Search Results" 
                         md-font-icon="fa fa-arrows-alt" style="font-size:24px;">
                </md-icon>
                <md-tooltip md-delay="1000" md-direction="top">
                    View in full screen
                </md-tooltip>
            </md-button>
            <md-button ng-show="fullScreenStyleForDialog == 'full-screen-dialog'" 
                       class="md-icon-button" 
                       ng-click="exitSparqlObservationFromFullScreen()">
                <md-icon class="md-secondary" 
                         aria-label="Close Related Entity Search Results" 
                         md-font-icon="fa fa-times" style="font-size:24px;">
                </md-icon>
                <md-tooltip md-delay="1000" md-direction="top">
                    Exit from full screen view
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <div class="md-dialog-content">

            <div layout-padding style="padding: 16px 8px 16px 8px">
                <span>
                    <code>Please note:</code> To close this dialog, just click outside of it.
                </span>
            </div>

            <textarea id="queryTextArea" 
                      ui-codemirror="cmOption"
                      ng-model="finalQuery"
                      ui-refresh="refreshCodemirror">
            </textarea>
        </div>

    </md-dialog-content>
</md-dialog>