<div class="justified">
	<p>
		This Working Query Demo for geographical data, invokes an interactive map, 
		allowing you to search for products, equipments or facilities. You can select 
		some region on the map by holding down <code>Ctrl + Left Mouse Click</code> 
		(use <code>Command</code> in case of a Mac) and simultaneously drawing a 
		rectangle on the map.
	</p>
	<p>
		The searching procedure takes place immediately and within the geographical bounds 
		set by the drawn rectangular. The results will appear on the map with pins and 
		rectangles. The rectangles show the space capacity of the founds and the pins show 
		their actual center point. The different colors of the pins denote different types 
		of results. Information regarding this can be obtained by clicking on the 
		<code style="color:#106CC8;background: rgba(0,0,0,0.065);">'i'</code> button located 
		on the bottom right corner of the map.
	</p>


	<p>
		Clicking on a pin reveal information about the specific result displayed through a 
		pop-over caption. Finally all the results also appear in tabular form just below the map.
	</p>
</div>
