<div class="justified">
	<p> From this view, users can import RDF files into the triple-store, the data of which become instantly available.</p>
	<p> Multiple files are easily imported by dragging them in to the respective area of this UI and then selecting one of the 
		available collections, under which the meta-data will be classified. Creating a new collection (instead of using the 
		existing ones) can be done by typing the new collection's name (without selecting any of the available ones) and 
		proceeding with the import task. The system will create it before the import process begins and store data under that 
		new collection.</p>
</div>