<div class="justified">
	<p> This component facilitates the exploration and
discovery of semantic metadata. It incorporates a multitude of features on top
of an intuitive and user friendly environment, in order for both novice and
expert users to execute complex queries.</p>
	<p> In particular, it allows users to construct both simple and advanced (SPARQL) queries, through an easy
and friendly environment, aiming at supporting them during this knowledge
discovery process. The main concept of query
construction follows a general pattern, according to which end-users who wish
to search for a particular entity can start with partial information regarding
this entity, but can narrow down their search space through appropriate
refinements on other related entities, for which information is known.</p>
</div>
