<div class="justified">
	<p>
		This Working Query Demo invokes an auto-complete service that exploits <b>Thesaurus
		Component</b> by providing suggested terms while typing keywords. Note that in this 
		graphical user interface the end-user can include one or more keywords either by 
		choosing from the suggested ones or not. Furthermore, the user selects among entities 
		to search for and one or more collections to search into.
	</p>
	<p>
		A query web-service is invoked that communicates with the established
		triple store (in general with any defined data source(s))and finally
		returns the filtered results back to the end-user. This functionality
		offered by the <b>Query Manager component</b> At current time the
		results are shown as triples in a table format.
	</p>


	<p>
		In the future we plan to offer a third query option for applying
		standard <b>predefined queries</b> (demonstration purposes). Moreover,
		our future plans aim to implement the necessary integration with <b>AAAI 
		component</b> for regulating authorization access to sensitive data.
	</p>
</div>
