<div class="section" style="padding:5px 20px;">

    <div class="row">
        <div class="column inside" style="width:100%">

            <md-toolbar class="md-primary">
                <div class="md-toolbar-tools">
                    <!--<md-icon md-font-icon="fa fa-handshake-o" style="padding-right:10px; font-size:36px;"/>-->
                    <md-icon md-font-icon="fa fa-exclamation-triangle" style="padding-right:10px; font-size:36px;"/>
                    <h2 class="md-flex" flex>{{headingTitle}}</h2>
                </div>
            </md-toolbar>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Disclaimer</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-title-media style="text-align: justify; margin-left:50px; margin-right:50px;">
                    <p>
<!--                        CMBR provides access to assets of other organisations through metadata supplied 
                        by them in the interests of open science and under the policies and conditions of 
                        those organisations. By using the CMBR portal the user consents to those conditions 
                        for the benefit of access and use.  The CMBR project does not accept any liability 
                        in respect of loss, damage, injury or any other occurrence arising from the reliance 
                        on advice, information, data or related records provided.-->
                    </p>
                </md-card-title-media>

                <md-card-actions layout="row" layout-align="start center" style="margin:16px;">
                    <!--
                            <md-button class="md-raised md-primary" ng-click="acceptPrivacyPolicy();">
                    Accept
            </md-button>
            
            <span flex></span>
            
            <md-button class="md-raised md-accent" 
                                       ng-click="declinePrivacyPolicy();">
                                    Decline
                            </md-button>
                    </md-card-actions>
                    -->
            </md-card>


        </div>
    </div>

</div>